/* 
    Created on : Apr 8, 2017, 10:56:14 PM
    Author     : nyeinchanaung
*/
body{
    text-align: center;
    margin: 0px;
}
#id-pre-desc{
    line-height: 2;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
}
#id-h2-title{
    color: #FFFFFF;
    background: #1FDA9A;
    font-weight: bolder;
    font-size: 3em; 
}
#id-div-maincontainer{
    background: lightgray;
    text-align: center;
}
.cl-text-medium{
    height: 2em;
    font-size: x-large;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline;
}
.cl-btn-medium{
    height: 2.5em;
    font-size: 1.5em;
    width: 4em;
    border-radius: 0px;
    text-align: center;
    border: 0px;
    background: #1FDA9A;
    display: inline;
}
.cl-common-hover:hover{
    color: white;
    cursor: pointer;
}
.cl-error-small{
    color: red;
    font-size: smaller;
    font-weight: bolder;
}

.cl-div-confirmation{
    text-align: left;
    display: inline-block;
    border-left: 5px solid lightgreen;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 5px;
    background: #C0C0C0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #FFFFFF;
}

#id-link-rscode{
    text-decoration: none;
    font-style: italic;
}

#id-div-navcontainer{
    display: inline-block;
    text-align: center;
    width: 30%;    
}

#id-div-navcontainer p{
    background: lightgreen;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 3px solid silver;
}

#id-div-navcontainer p:hover{
    cursor: pointer;
}

#id-ul-navlinkcontainer{
    color: #FFFFFF;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#id-ul-navlinkcontainer li{
    background: lightgreen;
    font-size: xx-large;
    padding: 10px;
    border-bottom: 3px solid silver;
    border-radius: 20px;
}

#id-ul-navlinkcontainer li a{
    color: #FFFFFF;
    text-decoration: none;
}

#id-ul-navlinkcontainer li:hover{
    cursor: pointer;    
    font-style: italic;
}

/*cpcontainer - create post container*/
.cl-div-postcontainer{
    display: inline-block;
    background: #C0C0C0;
    border-radius: 10px;
    box-shadow: 5px 4px ;/*#FFFFFF;*/
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#id-textarea-postcontent{
    width: 90%;
    border-radius: 10px;
    resize: vertical;
    margin-top: 15px;
    font-size: x-large;
}

#id-span-cpimg{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    maring-bottom: 5px;
}

#id-span-cpimg img:hover{
    cursor: pointer;
}

#id-span-delimg{
    font-size: xx-large;
    color: #FF0000;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#id-span-delimg img:hover{
    cursor: pointer;
}

.cl-select-large{
    background-color:#27AE60;
    color:white;
    padding:12px;
    border-radius:3px;
    font-size:16px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.cl-p-createposterr{
    display: none;
    font-weight: bolder;
    display: none;
    color: #FF0000;
    font-size: medium;
}

.cl-p-epcontent{
    margin-right: 3px;
    background: #FFFFFF;
    padding: 5px 0px 5px 5px;
    border-left: 3px solid green;
}

.cl-p-epcontent a{
    text-decoration: none;
}

.cl-p-eptitle{
    font-weight: bolder;
    font-size: x-large;
}

.cl-btn-small{
    background-color: #1FDA9A;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 0px;
    text-align: center;
    padding: 5px;
    border: 0px;
}
.cl-btn-epedtbtn{
    color: #0000FF;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

.cl-btn-epdelbtn{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #FF0000;
    float: right;
}

.cl-span-posttype{
    display: inline-block;
    margin-top: 10px;
    font-size: smaller;
    font-style: italic;
}